VITE_SUPABASE_URL=https://npisbdoztiweaayqmqev.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5waXNiZG96dGl3ZWFheXFtcWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMTkyNjMsImV4cCI6MjEwMjg5NTI2M30.EFfWxAoFLXO1XD3Pf2L4CtUaJuyRAaS8HK7t-stzFIU
VITE_API_URL=https://redo-backend.onrender.com
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDnD2JUGtjeZvTETWi4bz7nBvu364T11ds